<mat-card class="mat-elevation-z10" style="word-break: break-word;">
    <mat-card-title align="center">View Attendance</mat-card-title>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>Date</mat-grid-tile>      
      <mat-grid-tile>{{loginRecordModel.login_date | date: "dd-LL-yyyy"}}</mat-grid-tile>
    </mat-grid-list>        
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>In-Time</mat-grid-tile>      
      <mat-grid-tile>{{loginRecordModel.in_time | date: "HH:mm a"}}</mat-grid-tile>      
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>Out-Time</mat-grid-tile>      
      <mat-grid-tile>{{loginRecordModel.out_time | date: "HH:mm a"}}</mat-grid-tile>            
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>Task</mat-grid-tile>      
        <mat-grid-tile>{{loginRecordModel.task}}</mat-grid-tile>                        
    </mat-grid-list>
    <mat-divider></mat-divider>
</mat-card>


